@model NotePro.Models.TodoViewModels.TodoListViewModel
<div class="container">
    <div class="jumbotron">
        <h1>NotePro</h1>
        <p>The most amazing online notes application managmenet system. Created to change your life.</p>
    </div>
    <div class="np-row">
        <a asp-action="Create" asp-controller="Todo" class="btn btn-default">Create a new Node</a>
        <div class="splitter"></div>
        <a asp-action="ToggleLayout" asp-controller="Todo" class="btn btn-default">Style Switcher</a>
    </div>
    <div class="np-row np-collapsable-row">
        @foreach (SortOrder sortOrder in Enum.GetValues(typeof(SortOrder)))
        {
            var cssActive = @Model.SortOrder == sortOrder ? "active" : "";
            <a asp-action="Sort" asp-controller="Todo" asp-route-sortOrder="@sortOrder" class="btn btn-default sort spreadable @(cssActive)" 	data-ajax-success="$(this).addClass('active').siblings('.sort').removeClass('active')" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#content">@sortOrder.GetName()</a>
        }
        <div class="splitter"></div>
        @{
            var showFinishedCss = @Model.ShowFinished ? "" : "active";
        }
        <a asp-action="ToggleShowFinished" asp-controller="Todo" class="btn btn-default showFinished spreadable @(showFinishedCss)" data-ajax="true" data-ajax-success="$(this).toggleClass('active')" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#content">Hide Finished</a>
    </div>
    <div id="content">
        @await Html.PartialAsync("ListContent", @Model.Todos)
    </div>
</div>
