@model List<NotePro.Models.Todo>

<div class="container">
    <div class="jumbotron">
        <h1>NotePro</h1>
        <p>The most amazing online notes application managmenet system. Created to change your life.</p>
    </div>
    <div style="display:flex;justify-content: space-between; flex-flow:row nowrap;">
        <a asp-action="Create" asp-controller="Todo" class="btn btn-default">Create a new Node</a>
        <select class="form-control layoutSelection" id="sel1">
            <option>Black-White Style</option>
            <option>Black-Blue Style</option>
        </select>
    </div>
    <div class="controlButton">
        <div class="filterButton">
            <div >
                <a asp-action="List" asp-controller="Todo" asp-route-sortOrder="finishDate" class="btn btn-default">By finish date</a>
            </div>
            <div>
                <a asp-action="List" asp-controller="Todo" asp-route-sortOrder="createdDate" class="btn btn-default">By created date</a>
            </div>
            <div>
                <a asp-action="List" asp-controller="Todo" asp-route-sortOrder="priority" class="btn btn-default">By priority</a>
            </div>
        </div>
        <div>
            <button class="btn btn-default">Show finished</button>
        </div>
    </div>
    @foreach (var todo in @Model)
            {
        <div class="row">
            <div class="col-md-3">
                <div>@(todo.FinishDate.Date)</div>
            </div>
            <div class="col-md-3">
                <div>@(todo.Title)</div>
            </div>
            <div class="col-md-3">
                <div>@(todo.Priority)</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div>[] Finished</div>
            </div>
            <div class="col-md-6">
                <div>@(todo.Text)</div>
            </div>
            <div class="col-md-3">
                <div><a asp-controller="Todo" asp-action="Edit" asp-route-id="@(todo.Id)">Edit</a></div>
            </div>
        </div>
    }
</div>
