@using NotePro.Models.TodoViewModels
@model NotePro.Models.TodoViewModels.TodoListViewModel
@{
    var showFinishedText = @Model.ShowFinished ? "Hide Finished" : "Show Finished";
    var showFinishedCss = @Model.ShowFinished ? "btn-primary" : "";
    var finishDateCss = @Model.SortOrder == SortOrder.FinishDate ? "btn-primary" : "";
    var createdDateCss = @Model.SortOrder == SortOrder.CreatedDate ? "btn-primary" : "";
    var priorityCss = @Model.SortOrder == SortOrder.Priority ? "btn-primary" : "";
}

<div class="container">
    <div class="jumbotron">
        <h1>NotePro</h1>
        <p>The most amazing online notes application managmenet system. Created to change your life.</p>
    </div>
    <div class="row">
        <a asp-action="Create" asp-controller="Todo" class="btn btn-default">Create a new Node</a>
        <div class="splitter"></div>
        <a asp-action="ToggleLayout" asp-controller="Todo" class="btn btn-default">Style Switcher</a>
    </div>
    <div class="row collapsable-row">
        <a asp-action="Sort" asp-controller="Todo" asp-route-sortOrder="@SortOrder.FinishDate" class="btn btn-default @(finishDateCss)">By finish date</a>
        <a asp-action="Sort" asp-controller="Todo" asp-route-sortOrder="@SortOrder.CreatedDate" class="btn btn-default @(createdDateCss)">By created date</a>
        <a asp-action="Sort" asp-controller="Todo" asp-route-sortOrder="@SortOrder.Priority" class="btn btn-default  @(priorityCss)">By priority</a>
        <div class="splitter"/></div>
        <a asp-action="ToggleShowFinished" asp-controller="Todo" class="btn btn-default @(showFinishedCss)">@(showFinishedText)</a>
    </div>

    @foreach (var todo in @Model.Todos)
    {
        <div class="content">
            <div class="todoTitleRow">
                <div id="todoFinisheDatedDiv">@(todo.FinishDate.ToString("D"))</div>
                <div id="todoTitlePriorityDiv">
                    <div id="todoTitleDiv"><label>@(todo.Title)</label></div>
                    <div id="todoPriorityDiv">
                        @for (var i = 0; i < todo.Priority; i++)
                        {<span class="glyphicon glyphicon-asterisk"></span>}
                    </div>
                </div>
                <div id="todoEmptyDiv">
                </div>
            </div>
            <div class="todoContentRow">
                <div id="todoFinishedDiv"><input asp-for="@(todo.Finished)" disabled="disabled" /><label>Finished</label></div>
                <div id="todoTextDiv"><textarea disabled>@(todo.Text)</textarea></div>
                <div id="todoEditDiv"><a asp-controller="Todo" asp-action="Edit" asp-route-id="@(todo.Id)" class="btn btn-default">Edit</a></div>
            </div>
        </div>
    }
</div>
