@model List<NotePro.Models.Todo>
@foreach (var todo in @Model)
{
    <div class="content">
        <div class="np-row">
            <label class="np-column-1">@(todo.FinishDate.ToText())</label>
            <div class="np-column-2 np-row">
                <label>@(todo.Title)</label>
                <div class="splitter"></div>
                @for (var i = 0; i < todo.Priority; i++)
                {<span class="glyphicon glyphicon-asterisk"></span>}
            </div>
            <div class="np-column-3"></div>
        </div>
        <div class="np-row np-collapsable-row">
            @{
                var finishedText = todo.Finished ? " [" + @todo.FinishDate.ToText() + "]" : "";
            }
            <div class="np-column-1">
                <input asp-for="@(todo.Finished)" disabled="disabled" /><label>Finished @(finishedText)</label>
            </div>
            <textarea disabled class="np-column-2">@(todo.Text)</textarea>
            <a asp-controller="Todo" asp-action="Edit" asp-route-id="@(todo.Id)" class="btn btn-default np-column-3">Edit</a>
        </div>
    </div>
                }
