@model List<NotePro.Models.Todo>

<div class="container">
    <div class="jumbotron">
        <h1>NotePro</h1>
        <p>The most amazing online notes application managmenet system. Created to change your life.</p>
    </div>
    <div class="row">
        <div class="col-md-9"><a asp-action="Create" asp-controller="Todo" class="btn btn-default">Create a new Node</a></div>
        <div class="col-md-3 pull-right">
            <select class="form-control" id="sel1">
                <option>Black-White Style</option>
                <option>Black-Blue Style</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <button class="btn btn-default btn-primary">By finish date</button>
            <button class="btn btn-default">By created date</button>
            <button class="btn btn-default">By importance</button>
        </div>
        <div class="col-md-3 pull-right">
            <button class="btn btn-default">Show finished</button>
        </div>
    </div>
    @foreach (var todo in @Model)
            {
        <div class="row">
            <div class="col-md-3">
                <div>@(todo.FinishDate.Date)</div>
            </div>
            <div class="col-md-3">
                <div>@(todo.Title)</div>
            </div>
            <div class="col-md-3">
                <div>@(todo.Priority)</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div>[] Finished</div>
            </div>
            <div class="col-md-6">
                <div>@(todo.Text)</div>
            </div>
            <div class="col-md-3">
                <div><a asp-controller="Todo" asp-action="Edit"  asp-route-id="@(todo.Id)">Edit</a></div>
            </div>
        </div>
    }
</div>
