@model List<NotePro.Models.Todo>
@{
    var layoutStyle = new Byte[20];
    bool layoutStyleRead = Context.Session.TryGetValue("Application.LayoutStyle", out layoutStyle);
    var isBlackAndBlueStyle = layoutStyleRead == true && System.Text.Encoding.UTF8.GetString(layoutStyle) == "blackBlue";
    var nextLayoutStyle = isBlackAndBlueStyle ? "blackWhite" : "blackBlue";
    var showFinishedParam = Context.Request.Query["showFinished"];
    var showFinished = String.IsNullOrEmpty(showFinishedParam) || showFinishedParam == "False" ? false : true;
    var showFinishedText = showFinished ? "Hide Finished" : "Show Finished";
    var showFinishedCss = showFinished ? "btn-primary" : "";
    var sortOrderParam = Context.Request.Query["sortOrder"];
    var finishDateCss = sortOrderParam == "finishDate" ? "btn-primary" : "";
    var createdDateCss = sortOrderParam == "createdDate" || String.IsNullOrEmpty(sortOrderParam) ? "btn-primary" : "";
    var priorityCss = sortOrderParam == "priority" ? "btn-primary" : "";
}

<div class="container">
    <div class="jumbotron">
        <h1>NotePro</h1>
        <p>The most amazing online notes application managmenet system. Created to change your life.</p>
    </div>
    <div class="control">
        <div style="display:flex;justify-content: space-between; flex-flow:row nowrap;">
            <a asp-action="Create" asp-controller="Todo" class="btn btn-default">Create a new Node</a>
            <div>
                <a asp-action="List" asp-controller="Todo" asp-route-sortOrder="sortOrderParam" asp-route-showFinished="@(showFinished)" asp-route-layoutStyle="@(nextLayoutStyle)" class="btn btn-default @(finishDateCss)">Style Switcher</a>
            </div>
        </div>
        <div class="controlButton">
            <div class="filterButton">
                <div>
                    <a asp-action="List" asp-controller="Todo" asp-route-sortOrder="finishDate" asp-route-showFinished="@(showFinished)" class="btn btn-default @(finishDateCss)">By finish date</a>
                </div>
                <div>
                    <a asp-action="List" asp-controller="Todo" asp-route-sortOrder="createdDate" asp-route-showFinished="@(showFinished)" class="btn btn-default @(createdDateCss)">By created date</a>
                </div>
                <div>
                    <a asp-action="List" asp-controller="Todo" asp-route-sortOrder="priority" asp-route-showFinished="@(showFinished)" class="btn btn-default  @(priorityCss)">By priority</a>
                </div>
            </div>
            <div>
                <a asp-action="List" asp-controller="Todo" asp-route-sortOrder="@(sortOrderParam)" asp-route-showFinished="@(!showFinished)" class="btn btn-default  @(showFinishedCss)">@(showFinishedText)</a>
            </div>
        </div>
    </div>
    @foreach (var todo in @Model)
    {
        <div class="content">
            <div class="todoTitleRow">
                <div>@(todo.FinishDate.Date)</div>
                <div>@(todo.Title)</div>
                <div>@(todo.Priority)</div>
            </div>
            <div class="todoContentRow">
                <div id="todoFinishedDiv"><input asp-for="@(todo.Finished)" /><label>Finished</label></div>
                <div id="todoTextDiv"><textarea disabled>@(todo.Text)</textarea></div>
                <div id="todoEditDiv"><a asp-controller="Todo" asp-action="Edit" asp-route-id="@(todo.Id)" class="btn btn-default">Edit</a></div>
            </div>
        </div>
    }
        
</div>
